@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&display=swap');

body {
    margin: 0;
    font-family: "Cabin";
}
a {
    text-decoration: none;
}
#Header{
    display: flex;
    /* background-color: red; */
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: space-between;
    /* border-left: 5px solid #ffa64d; 
    border-right: 5px solid #ffa64d; */
    border-bottom: 5px solid #ffa64d;
    padding: 3px 12px;
    position: sticky;
    left: 0;
    top: 0;
    margin-top: 0;
    background-color: white;
}

/* Menubar */
@keyframes menubar-link-hover { /* Color change animation for links */
    from {color: black;}
    to {color: #00cccc;}
}
#Menubar li {
    border-right: 3px solid #ffa64d;
}
#Menubar li a {
    font: 30px "Cabin";
    padding: 0px 10px;
    color: black;
}
#Menubar li a:hover {
    animation-name: menubar-link-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#Menubar li:last-child {
    border-right: none;
}
#Menubar {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#Menubar li {
    padding: 5px;
}
#Menubar #CurrentPage{
    text-decoration: underline;
}
#Logo{
    width: 100px;
    
}

.body-text-flex-container img{
    height: 400px;
}

/* Social Media */
#SocialMedia {
    display: flex;
    padding: 0px;
    list-style: none;
}
#SocialMedia li {
    padding: 0px 10px 0px 0px;
}
#SocialMedia li:last-child {
    padding: none;
}
#SocialMedia a {
    color: black;
}

/* Body Text */
h2 {
    text-align: center;
    font-size: 50px;
    padding: 10px 0px 0px 0px;
}
.body-text-section-left {
    color: black;
    background-color: white;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
    margin: 50px 0;
    font-size: 30px;
    border: 5px solid #ffa64d;
    border-left: none;
}
.body-text-flex-container {
    display: flex;
    padding: 0.25em 0.5em 0.5em 1.5em;
    margin: 0px;
}
.body-text-flex-container * {
    padding-right: 0.5em;
    margin-top: 0;
}
.body-text-flex-container div h2 {
    border-bottom: 5px solid #00cccc;
    width: 50%;
    font-size: 65px;
    margin-bottom: 0.25em;
    margin-left: 25%;
    padding-bottom: 10px;
}
.body-text-flex-container p {
    font-size: 40px;
}
.body-text-flex-container img {
    height: 20em;
}
.body-text-flex-container:last-child {
    padding-right: 0;
}
.body-text-section-right {
    background-color: white;
    color: black;
    width: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    padding: 0px;
    margin: 0 0 0 calc(10% - 5px);
    font-size: 30px;
    border: 5px solid #ffa64d;
    border-right: none;
}
.slogan-banner {
    font-size: 60px;
    background-color: #ffc700;
    margin: 0 0 0.5em 0.5em;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0.25em 0.5em;
}
#footer-photowheel {
    border-top: 5px solid #ffc700;
    border-bottom: 5px solid #ffc700;
    padding: 5px 0;
    height: 128px;
    display: flex;
    justify-content: space-evenly;
}
#footer-photowheel img {
    height: 128px;
}

/* Pickup / Catering Banner */
@keyframes pickup-cater-button-hover {
    from { background-color: #ff8c1a;}
    to { background-color: #ffa64d; }
}
h1 {
    text-align: center;
    font: 700 75px "Dancing Script";
    color: white;
    text-shadow: 1px 1px 0 #000;
}
#pickup-catering-banner {
    background-image: url('InsideImage4.png');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
#pickup-catering-flex {
    display: flex;
    justify-content: center;
    color: white;
}
#pickup-catering-flex p {
    font-size: 50px;
    text-shadow: 0.5px 0.5px 0 #000;
    text-align: center;
    margin: 0 50px;
}
#pickup-catering-flex a {
    font-size: 45px;
    background-color: #ff8c1a;
    text-align: center;
    align-items: center;
    display: grid;
    padding: 0 1em;
    border-radius: 30px;
    height: 2em;
    margin-top: 200px;
}
#pickup-catering-flex a:hover {
    animation-name: pickup-cater-button-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* Menu Page */
#menu-categories-list {
    list-style: none;
    font-size: 45px;
    background-color: #ff8c1a;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    position: fixed;
}
#menu-categories-list li {
    display: flex;
    align-items: center;
    border-bottom: 5px solid white;
    padding: 10px 0px;
}
#menu-categories-list li a {
    display: flex;
    align-items: center;
    color: inherit;
}
#menu-categories-list li:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
#menu-categories-list li:last-child {
    border-bottom: none;
}
#menu-body-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
}
.category-icon {
    height: 2em;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
#menu-container {
    margin-left: 20%;
    /* margin-right: 2.5%; */
    width: 55%; 
    height: 50vh;
}
#menu-container h2 {
    border-bottom: 5px solid #ffa64d;
    padding-bottom: 10px;
    font-size: 55px;
}
#menu-container h1 {
    color: #000;
}
#user-order-container {
    background-color: #ff8c1a;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    position: fixed;
    width: 18%
}
#user-order-container h3 {
    font-size: 45px;
    margin: 10px 0;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 5px solid white;
}
#checkout-button {
    background-color: #037c2c;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
#user-order-cart {
    background-color: white;
    color: black;
    padding: 10px;
    height: 70%;
    margin-bottom: 20px;
    font-size: 30px;
}
#user-cart-items {
    height: calc(100% - 5cap);
    overflow: auto;
    list-style: none;
}
#payment-total {
    font-weight: bold;
    border-top: 3px solid black;
    padding-top: 7px;
}
.menu-item {
    background-color: white;
    border-radius: 20px;
    padding: 1cap 3ch;
    border-top: 3px solid #ff8c1a;
    border-left: 3px solid #ff8c1a;
    border-right: 3px solid #00cccc;
    border-bottom: 3px solid #00cccc;
    margin-bottom: 50px;
}
.menu-item h3 {
    color: #00aaaa;
    font-size: 55px;
    margin: 0;
}
.menu-item p {
    font-size: 35px;
}
@keyframes menu-add {
    from {background-color:  white;}
    to {background-color: #00e6e6;}
}
.menu-item button {
    background: transparent;
    font-family: inherit;
    border: none;
    font-variant: small-caps;
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 30px;
    border: 4px solid black;
    font-weight: bold;
}
.menu-item button:hover {
    animation-name: menu-add;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}